@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

header {
    margin: 0;
    padding: 0;

}

/* определили параметры для всего body */
body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #FFFFFF;
    margin: 0;
}

/* убрали у всех элементов списка маркер */
.navigation-item {
    list-style-type: none;
}

.advantages-item {
    list-style-type: none; 
}

.footer-social-item {
    list-style-type: none;  
}

.footer-contact-item {
    list-style-type: none; 
}

.footer-logo-item {
    list-style-type: none;
}

.breadcrumbs-item {
    list-style-type: none; 
}

.catalog-filter-item {
    list-style-type: none;
}

.star-item {
    list-style-type: none; 
}

.pagination-item {
    list-style-type: none;
}

.pagination-link {
    text-decoration: none;
}
/* переопределили параметры для ссылок в навигации */
.navigation-link {
    font-size: 20px;
    color: #000000;
    background-color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}
/* определили параметры для всех кнопок */
.button {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none; 
}
/* определили параметры цвета для кнопок */
.button-interest {
    background: #756157;
}

.button-action {
    background: #82B3D3;
}

.button-selected {
    background: #7DB54F; 
}
/* переопределили цвет шрифта и задали параменты для кнопок-ссылок */
.button-detail {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}

.button-favourites {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 4px;
}

.button-come {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    padding: 9px 15px 8px 15px;
}

.button-search {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    border-radius: 4px;
}

.button-newsletter {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    border-radius: 0px 10px 10px 0px;
}

.button-apply {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
}

.button-cancellation {
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
    background-color: transparent;
}
/* определили параметры для цифры 12 у ссылки Избранное */
.favorites-number {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    background-color: #7DB54F;
    letter-spacing: -0.1em;
}
/* определили параметры для секции с главной картинкой. */
.main-img {
    color: #FFFFFF;
    background-color: #000000;
    background-image: url("../images/background-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.conteiner-image {
    text-align: center;
}
/* переопределили параметры подзаголовку и абзацу */
.subtitle h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.subtitle p {
    text-align: center;
    color: #333333;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
/* определили основные параметры для элементов (заголовок, номер, абзац) Причины посещения */
.advantages-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.advantages-item span {
    font-size: 18px;
    line-height: 21px;
}
.advantages-item p {
    font-size: 18px;
    line-height: 21px;
}

.advantages-item {
    text-align: center;
}
/* определили параметры для синих блоков с фото */
.advantages-key {
    background: #82B3D3;
    color: #FFFFFF; 
}
/* переопределили цвета блоков с подпунктами первой причины */
.advantages-item-housing {
    background: rgba(131, 179, 211, 0.12);
}

.advantages-item-souvenirs {
    background: rgba(131, 179, 211, 0.12);
}
/* переопределили цвета блоков для остальных пунктов причин */
.advantages-item-area {
    background: rgba(131, 179, 211, 0.12);
}

.advantages-item-tourists {
    background: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
    background: rgba(131, 179, 211, 0.2);
}

.advantages-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
}
/* определили параметры для секции Заинтересовались */
.search {
    text-align: center;
}

.search h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.search p {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
/* определили параметры и добавили фоновое изображение для секции Рассылка */
.newsletter-section {
    color: #FFFFFF;
    background-color: #000000;
    background-image: url("../images/background-subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter-section h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.newsletter-section p {
    text-align: center;
}

.field-email {
    background: #F2F2F2;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    width: 87px;
    padding: 20px 491px 19px 22px;
    border: 0;

}
/* определили параметры и для секции с контактами, переопределили цвет шрифта номера телефона*/
.footer-contact-link {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
/* убрали подчеркивания у ссылок соц.сетей */
.social-vk-link {
    text-decoration: none;
}

.social-telegram-link {
    text-decoration: none;
}

.social-Youtube-link {
    text-decoration: none;
}
/* определили параметры для секции с фильтрами и добавили фоновое изображение */
.filer-content-hotel {
    color: #FFFFFF;
    background-color: #000000;
    background-image: url("../images/background-filter.jpg");
    background-repeat: no-repeat;  
    background-size: cover;
}

.filer-content-hotel p {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.breadcrumbs-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
}

.control-input {
    font-size: 18px;
    line-height: 21px;
}

.title-result {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-left: 72px;
    margin-top: 57px;
    margin-bottom: 61 px;
    margin-right: 191px;
}
/* определили параметры для ссылок с наименованиями гостиниц */
.hotel-card-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
}
/* убрали подчеркивание у ссылок изображений слайд-шоу */
.button-slide {
    text-decoration: none; 
}
/* определили параметры для секции сортировки */
.select-control {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    width: 290px;
    margin-top: 50px;
    margin-left: 191 px;
    margin-bottom: 56px;
    display: block;
}
/* определили параметры для информации в карточке гостиниц */
.information-hotel {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.rating-item {
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background: #F2F2F2;
    border-radius: 4px;
}
/* определили параметры для кнопок пагинации */
.pagination-link {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    background: #82B3D3;
    border: 1px solid #82B3D3;
    border-radius: 4px;
}
/* переопределили цвет шрифта и фона у первой кнопки пагинации */
.pagination-current {
    color: #000000;
    background: #F2F2F2; 
    border: 0ch;
}
/* переопределили цвет и размер шрифта для абзаца */
.number-of-page {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    margin: 0;
    width: 175 px;
    align-items: center;
}
/* переопределили цвет и размер шрифта в селекте */
.select-number {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
}
/* определили параметры для секции Рассылка на странице каталога (цвет шрифта, без фонового изображения */
.newsletter-catalog h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.newsletter-catalog p {
    color: #333333;
    text-align: center;
}
/* задали рамку для иконок слад-шоу */
.button-list {
    display: flex;
    border: 3px solid #E5E5E5;
    border-radius: 4px;
    width: 48px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    padding: 17px 16px;
}

.image-card {
    border: 3px solid #E5E5E5;
    border-radius: 4px;
    display: flex;
    width: 48px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    padding: 17px 16px;
}

.button-table {
    border: 3px solid #E5E5E5;
    border-radius: 4px;
    display: flex;
    width: 48px;
    justify-content: center;
    align-items: center;
    padding: 17px 16px;
}

/* визуально скрыли все элементы с классом visually-hidden */
.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* поместили весь контент в контейнер для определения границ */
.page-conteiner {
    margin: 0 auto;
    width: 1200px;
    max-width: 1200px;
}

.navigation {
    display: flex;
    margin: 0 auto;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 390px;
    display: flex;
    align-items: center;
}

.navigation-user {
    width: 264px;
    margin-left: auto;
    margin-right: 70px;
    display: flex;
    align-items: center;
}

.navigation-logo {
    width: 139 px;
    margin-right: 30px;
    margin-left: 70px;
    vertical-align: middle;
}

.navigation-item-main {
    padding-left: 13px;
    padding-right: 34px;
}

.navigation-item-about {
    padding-right: 34px; 
}

.navigation-item-hotels {
    padding-right: 62px;
}

.navigation-user-search {
    padding-right: 12px;
    padding-left: 12px;
}

.navigation-user-favorite {
    padding-right: 32px;
}

.navigation-user-interest {
    width: 160px;
}

.conteiner-image {
    display: block;
    width: 100%;
    padding-top: 51px;
    padding-bottom: 82px;
}

.title-advantages {
    margin: 0;
    padding: 63px 290px 31px;
}

.description-advantages {
    margin: 0; 
    padding: 0px 273px 90px;
}

.advantages {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.advantages-key {
    display: flex;
}

.advantages-town {
    width: 400px;
}

.additional-items {
    display: flex;
}

.additional-items li {
    width: 400px; 
}

.advantages-key {
    display: flex;
}

.advantages-bridge {
    width: 400px; 
}

.advantages-base {
    display: flex;
}

.advantages-base li {
    width: 400px;
}

.search {
    max-width: 0 auto;
}

.title-search {
    margin: 0;
    padding: 91px 451px 29px;
}

.description-search {
    margin: 0; 
    padding: 0px 304px 56px; 
}

.button-search {
    margin-bottom: 93px;
    width: 574px;
    border: 0;
    padding: 0;
}

 
.title-newsletter {
    margin: 0; 
    padding: 94px 398px 29px; 
}

.description-newsletter {
    margin: 0; 
    padding: 0 362px 0 363px; 
}

.newsletter-form {
    width: 600px;
    box-sizing: border-box;

}

.button-newsletter {
    margin: 0;
    width: 200px;
    padding: 12px 15px;
    border: 0;
}
    

.page-footer {
    display: flex;
    justify-content: space-between;
    padding: 45px 0px 35px;
}

.footer-social-list {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    margin: 45px 42px 35px 70px;
    padding: 0;
    width: 142px;
}

.footer-contact-list {
    display: flex;
    margin: 0;
    align-items: center;
    width: 720px;
    justify-content: center;
}

.footer-logo-list {
    display: flex;
    margin: 0; 
    align-items: center;
    width: 115px;
}

.breadcrumbs {
    display: flex;
    width: 111 px;
    margin: 0;
    justify-content: flex-start;
}

.catalog-filter {
    display: flex;
    width: 1060px;
    padding: 40px 70px 70px 70px;
    justify-content: space-between;
}

.filter-button-wrapper {
    display: flex;
    flex-direction: column;
    width: 161px;
}

.catalog-filter-group {
    width: 151px;
}

.catalog-filter-group-infrastructure {
    width: 151px;
    margin: 0;
}

.catalog-filter-group-housing {
    width: 146px;
    margin: 0;
}

.sort {
    display: flex;
}

.slide-show {
    display: flex;
    width: 160px;
    margin: 50px 71px 57px 78px;
    display: flex;
    justify-content: center;
}

.hotel-card-wrapper {
    display: flex;
    margin: 0;
}

.hotel-card {
    display: flex;
    margin: 0 71px 0 73px;
    padding-left: 0;
    flex-wrap: wrap;
}

.hotel-card-item {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    padding: 20px;
    margin: 0;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

.information-hotel-type {
    width: 140px;
    margin-left: 20px;
    display: flex;
}

.information-hotel-price {
    width: 140px;
    margin-right: 20px;
    display: flex;
}

.button-detail {
    width: 140px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.button-favourites {
    width: 140px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
    border: 0;
}

.stars {
    display: flex;
    width: 140px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 16px;
}

.rating-item {
    display: flex;
    width: 140px;
    justify-content: center;
    align-items: center;
}

.hotel-filter-image {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
}

.name-title {
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}

.social-item-vk {
    padding-right: 12px;
    width: 24px;
}

.social-item-telegram {
    padding-right: 15px;
    width: 18 px;
}

.social-item-Youtube {
    width: 18 px;
}

.breadcrumbs-item-home {
    padding-right: 10px;
    width: 16px;
}

.breadcrumbs-item-arrow {
    padding-right: 10px;
    width: 5;
}

.pagination {
    display: flex;
    width: 400px;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.pagination-list {
    display: flex;
    width: 400px;
    align-content: space-between;
    margin-top: 96px;
    margin-left: 73px;
    margin-right: 270px;
    padding: 0;

}

.pagination li {
    width: 60px;
}

.select-number {
    display: flex; 
    width: 160px; 
}

.newsletter-form {
    display: flex;
    margin: 46px 200px 94px 200px;
}