@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

header {
  margin: 0;
  padding: 0;

}

/* определили параметры для всего body */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #E5E5E5;
  margin: 0;
}

/* убрали у всех элементов списка маркер */
.navigation-item {
  list-style-type: none;
}

.advantages-item {
  list-style-type: none;
}

.footer-social-item {
  list-style-type: none;
  width: 47px;
}

.footer-contact-item {
  list-style-type: none;
}

.footer-logo-item {
  list-style-type: none;
}

.breadcrumbs-item {
  list-style-type: none;
}

.catalog-filter-item {
  list-style-type: none;
  margin-bottom: 15px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control-slider {
  width: 288px;
  background: #FFFFFF;
  opacity: 0.3;
  margin: 0;
}

.star-item {
  list-style-type: none;
  width: 18px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.logo-wrapper {
  margin-right: 30px;
}

.pagination-link {
  text-decoration: none;
  padding: 11px 24px 12px 23px;
  width: 12px;
}

.pagination-link-subsequent {
  padding: 11px 22px 12px 21px;
  width: 16px;
}

.pagination-link-last {
  padding: 11px 18px 12px 18px;
  width: 23px;
}

/* переопределили параметры для ссылок в навигации */
.navigation-link {
  font-size: 20px;
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
}

/* определили параметры для всех кнопок */
.button {
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* определили параметры цвета для кнопок */
.button-interest {
  background: #756157;
}

.button-action {
  background: #82B3D3;
}

.button-selected {
  background: #7DB54F;
}

/* переопределили цвет шрифта и задали параменты для кнопок-ссылок */
.button-detail {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-favourites {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-come {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 9px 15px 8px 15px;
  width: 130px;
  border: 0;
  display: block;
}

.button-link-come {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 9px 15px 8px 15px;
  width: 160px;
  border: 0;
}


.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  padding: 12px 15px;
  width: 574px;
  border: 0;
}

.button-newsletter {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0px 10px 10px 0px;
}

.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 14px 15px;
  border: 0;
}

.button-cancellation {
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  background-color: transparent;
  padding: 20px 47px 0 47px;
  border: 0;
}

/* определили параметры для цифры 12 у ссылки Избранное */
.favorites-number {
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  display: block;
  padding: 2px 1px 4px 1px;
  min-width: 19px;
  border-radius: 10px;
  margin-left: -17px;
  margin-top: 20px;
}

/* определили параметры для секции с главной картинкой. */
.main-img {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/background-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* переопределили параметры подзаголовку и абзацу */
.subtitle h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle p {
  text-align: center;
  color: #333333;
}

.subtitle {
  padding-top: 63px;
  padding-bottom: 90px;
}

.image-wrapper

/* определили основные параметры для элементов (заголовок, номер, абзац) Причины посещения */
.advantages-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0;
}

.advantages-list-base-wrapper h3 {
  text-transform: uppercase;
}

.dvantages-list-base-wrapper h3 {
  text-transform: uppercase;
}

.advantages-bridge h3 {
  text-transform: uppercase;
}

. .advantages-item span {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item {
  text-align: center;
}

/* определили параметры для синих блоков с фото */
.advantages-key {
  background: #82B3D3;
  color: #FFFFFF;
}

/* переопределили цвета блоков с подпунктами первой причины */
.advantages-item-housing {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-souvenirs {
  background: rgba(131, 179, 211, 0.12);
}

/* переопределили цвета блоков для остальных пунктов причин */
.advantages-item-area {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-tourists {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

/* определили параметры для секции Заинтересовались */
.search {
  text-align: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.search h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/* определили параметры и добавили фоновое изображение для секции Рассылка */
.newsletter-section {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 94px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.newsletter-section h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.newsletter-section p {
  text-align: center;
}

.field-email {
  background: #F2F2F2;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  border: 0;
  border-radius: 10px 0px 0px 10px;
  width: 600px;
  padding: 0;
  padding-left: 22px;
  display: block;
  margin: 0;
}

.field-email .placeholder {
  padding: 20px 491px 19px 22px;
}


/* определили параметры и для секции с контактами, переопределили цвет шрифта номера телефона*/
.footer-contact-link {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* убрали подчеркивания у ссылок соц.сетей */
.social-vk-link {
  text-decoration: none;
  padding: 13px 12px 13px 12px;
}

.social-telegram-link {
  text-decoration: none;
  padding: 12px 14px 13px 14px;
}

.social-Youtube-link {
  text-decoration: none;
  padding: 12px 13px 11px 12px;
}

/* определили параметры для секции с фильтрами и добавили фоновое изображение */
.filer-content-hotel {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
}

.filer-content-hotel p {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.filer-content-hotel h1 {
  margin: 0;
  padding-bottom: 10px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.catalog-filter-title-cost {
  margin-bottom: 34px;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
}

.title-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  width: 338px;
  margin-right: 191px;
}

/* определили параметры для ссылок с наименованиями гостиниц */
.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

/* убрали подчеркивание у ссылок изображений слайд-шоу */
.button-slide {
  text-decoration: none;
}

/* определили параметры для секции сортировки */
.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 290px;
  display: block;
  margin-right: 78px;
  padding: 14px 0px 14px 20px;
}

.select-sheap {
  padding: 0;
}

/* определили параметры для информации в карточке гостиниц */
.information-hotel {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.rating-item {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
}

/* определили параметры для кнопок пагинации */
.pagination-link {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background: #82B3D3;
  border: 0px;
  border-radius: 4px;
}

/* переопределили цвет шрифта и фона у первой кнопки пагинации */
.pagination-current {
  color: #000000;
  background: #F2F2F2;
}

/* переопределили цвет и размер шрифта для абзаца */
.number-of-page {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  margin: 0;
  width: 175 px;
  align-items: center;
}

/* переопределили цвет и размер шрифта в селекте */
.select-number {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

/* определили параметры для секции Рассылка на странице каталога (цвет шрифта, без фонового изображения */
.newsletter-catalog h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 29px;
}

.newsletter-catalog p {
  color: #333333;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 46px;
  width: 476px;
}

/* задали рамку для иконок слад-шоу */
.button-list {
  display: flex;
  border: 3px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  padding: 17px 16px;
}

.image-card {
  border: 3px solid #E5E5E5;
  border-radius: 4px;
  display: flex;
  width: 48px;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  padding: 17px 16px;
}

.button-table {
  border: 3px solid #E5E5E5;
  border-radius: 4px;
  display: flex;
  width: 48px;
  justify-content: center;
  align-items: center;
  padding: 17px 16px;
}

/* визуально скрыли все элементы с классом visually-hidden */
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* поместили весь контент в контейнер для определения границ */
.page-conteiner {
  width: 1200px;
  max-width: 1200px;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;

}

.navigation-list-user {
  display: flex;
  width: 264px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}


.navigation-list-left {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  width: 390px;
}

.button-come-wrapper {
  padding: 14px 0px 14px 20px;
}

.navigation-logo {
  width: 139 px;
}

.navigation-link-left {
  padding: 20px 17px;
}

.navigation-link-right {
  padding: 22px 12px 22px 12px;
}


.header-logo {
  vertical-align: middle;
}

.conteiner-image {
  display: block;
  width: 100%;
  padding-top: 51px;
  padding-bottom: 83px;
  text-align: center;
}

.title-advantages {
  padding-bottom: 31px;
  width: 620px;
  margin: 0 auto;
}

.description-advantages {
  margin: 0;
}

.advantages {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.advantages-key {
  display: flex;
}

.advantages-town {
  width: 400px;
  padding-top: 92px;
  padding-bottom: 92px;

}


.advantages-town h3 {
  width: 230px;
  margin: 0 auto 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-town span {
  margin-bottom: 30px;
  display: block;
  font-size: 18px;
  line-height: 21px;
}

.advantages-town p {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  width: 230px;
}

.advantages-list-additional-wrapper {
  padding-top: 80px;
  padding-bottom: 81px;
}

.advantages-list-base-wrapper {
  padding-top: 103px;
  padding-bottom: 102px;
}

.advantage-list-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.additional-items {
  display: flex;
}

.additional-items li {
  width: 400px;
}

.advantages-list-additional-wrapper h3 {
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-list-additional-wrapper p {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-key {
  display: flex;
}

.advantages-bridge h3 {
  margin: 0 auto 30px;
  font-size: 24px;
  line-height: 28px;
  width: 230px;
}

.advantages-bridge span {
  margin: 0;
  margin-bottom: 30px;
  display: block;
  font-size: 18px;
  line-height: 21px;
}

.advantages-bridge p {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  width: 230px;
}

.advantages-list-base-wrapper h3 {
  margin: 0 auto 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 230px;
}

.advantages-list-base-wrapper span {
  margin: 0;
  margin-bottom: 30px;
  display: block;
  font-size: 18px;
  line-height: 21px;
}

.advantages-list-base-wrapper p {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 230px;
}

.advantages-bridge {
  width: 400px;
  padding-top: 92px;
  padding-bottom: 92px;
}

.advantages-base {
  display: flex;
}

.advantages-base li {
  width: 400px;
}

.search {
  max-width: 0 auto;
}

.title-search {
  margin: 0;
  margin-bottom: 30px;
}

.description-search {
  margin: 0;
  margin-bottom: 56px;
}

.title-newsletter {
  margin: 0;
  margin-bottom: 29px;
}

.description-newsletter {
  margin: 0 auto 46px;
  width: 592px;
}

.button-newsletter {
  margin: 0;
  width: 200px;
  padding: 12px 15px 12px 15px;
  border: 0;
}


.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;

}

.footer-social-list {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 142px;
  flex-wrap: wrap;
}

.footer-contact-list {
  margin: 0;
  align-items: center;
  width: 331px;
  justify-content: center;
  padding: 0;
}

.footer-logo-list {
  margin: 0;
  align-items: center;
  width: 115px;
}

.breadcrumbs {
  display: flex;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  align-items: center;
}

.catalog-filter {
  display: flex;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  width: 161px;
  padding-top: 60px;
}

.catalog-filter-group-infrastructure {
  margin: 0;
  border: 0;
  padding: 0;
  margin-right: 70px;
  width: 151px;
}

.catalog-filter-group-housing {
  margin: 0;
  border: 0;
  padding: 0;
  margin-right: 120px;


}

.catalog-filter-group-cost {
  margin: 0;
  border: 0;
  padding: 0;
  width: 288px;
  margin-right: 70px;
}

.sort {
  display: flex;
  padding: 50px 71px 56px 72px;
  align-items: center;
}

.slide-show {
  display: flex;
  width: 160px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.hotel-card-wrapper {
  margin: 0;
  margin-bottom: 66px;
  padding-left: 73px;
  padding-right: 71px;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  margin: 0;
  padding-left: 0;
}

.hotel-card-item {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0;
  list-style-type: none;
  align-items: center;
  padding: 20px 20px 16px 20px;
}

.information-hotel-type {
  width: 140px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.information-hotel-price {
  width: 140px;
  margin-bottom: 16px;
}

.button-detail {
  width: 110px;
  margin-right: 20px;
  margin-bottom: 16px;
  justify-content: center;
  padding: 9px 15px 8px 15px;
  text-align: center;
}

.button-favourites {
  width: 140px;
  margin-bottom: 16px;
  padding-top: 9px;
  padding-bottom: 8px;
  border: 0;
  text-align: center;
}

.stars {
  display: flex;
  width: 140px;
  margin-right: 20px;
  padding: 0;
  align-items: center;
}

.rating-item {
  width: 95px;
  justify-content: center;
  align-items: center;
  display: block;
  padding: 9px 22px 8px 23px;
}

.hotel-filter-image {
  padding-bottom: 16px;
  object-fit: contain;
  max-width: 100%;
}

.hotel-card-link {
  width: 300px;
  padding-bottom: 16px;
  margin: 0;
}

.name-title {
  margin: 0;
}


.breadcrumbs-item-home {
  padding-right: 10px;
  width: 16px;
}

.breadcrumbs-item-arrow {
  padding-right: 10px;
  width: 5;
}

.pagination {
  display: flex;
  width: 1055px;
  align-items: center;
  justify-content: space-between;
  margin: 0 71px 0 73px;
  padding: 30px 0 25px 0;
  border-top: 1px solid #E6E6E6;
}

.pagination-list {
  display: flex;
  width: 400px;
  padding: 0;
  list-style-type: none;
  margin: 0;
  flex-wrap: wrap;
  align-items: center;
}

.pagination li {
  width: 60px;
}

.select-number {
  display: flex;
  width: 160px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 98px 14px 20px;
}

.newsletter-form {
  display: flex;
  border-radius: 0px 10px 10px 0px;
  margin-left: 200px;
  margin-right: 200px;
}

.newsletter-catalog {
  padding-top: 94px;
  padding-bottom: 94px;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 10px;

}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  min-width: 150px;
}

.catalog-filter-list-cost {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.footer-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
